.row
  .col.s12.center
    %h4 Nuestros servicios
    - if user_signed_in?
      %p
        = link_to '+', new_service_path, :class=>"btn-floating btn-large waves-effect waves-light indigo"
    - else
      %p


    - @services.each do |service|
      .col.s6.m3.l2
        .card-content
          = link_to (image_tag service.avatar.url(:medium), :class => "circle waves-effect waves-light animated fadeIn"), service
        .blue-grey-text.text-lighten-2.small.animated.zoomIn
          = service.name
        %p
