.slider
  %ul.slides
    %li
      = image_tag "http://cajce.com.mx/img/foto4.jpg"
      .caption.center-align
        %h3 Somos los mejores en cada Servicio.
        %h5.light.grey-text.text-lighten-4 Désde 2006.

    %li
      = image_tag "http://cajce.com.mx/img/foto2.jpg"
      .caption.left-align
        %h3 Somos una empresa Mexicana.
        %h5.light.grey-text.text-lighten-4 Dedicada y comprometida con sus valores.

    %li
      = image_tag "http://cajce.com.mx/img/foto3.jpg"
      .caption.center-align
        %h3 Nos mantenemos a la vanguardia.
        %h5.light.grey-text.text-lighten-4 Responsables con el medio ambiente y la sociedad.

    %li
      = image_tag "http://cajce.com.mx/img/foto1.jpg"
      .caption.left-align
        %h3 La construcción es nuestra mayor fuerza.
        %h5.light.grey-text.text-lighten-4 Calidad en todo lo que hacemos.
