%footer.page-footer.indigo.lighten-1
  .container
    .row
      .col.l6.s12
        = image_tag("logo2.png", :alt=> "logo", :class=> "brand-logo logo-container responsive-img", :id=> "logo-container")
      .col.l3.s12
        %h5.white-text Contáctanos
        %ul
          %li.white-text
            %i.fa.fa-phone
              %span (55) 49 97 14 76
          %li.white-text
            %i.fa.fa-phone
              %span (55) 49 97 04 37
          %li.white-text
            %i.fa.fa-envelope
              %span ventas@cajce.com.mx

      .right.col.l3.s12
        %h5.white-text Síguenos
        %ul
          %li
            %p.white-text
              %i.fa.fa-facebook.fa-3x

  .footer-copyright
    .container
      %p.center Copyright &copy; 2016, Constructora Cajce S.A de C.V.
